/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
html, body {
    height: 100%;
}
body {
    padding-top: 8vh;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper-content {
    flex: 1;
}

.carousel-item {
    height: 92vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.presentation {
    margin-top: -25vh;
}

.w-45 {
    width: 45%;
}

/*.material-shadow {*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
/*}*/

/*.material-shadow-2 {*/
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*}*/

.pmu-text-red {
    color: #ce0019;
}

.pmu-text-green {
    color: #00a651;
}


.bg-pmu-green {
    background-color: #00a651;
}

.bg-pmu-green-light {
    background-color: #54d97f;
}

.bg-pmu-red {
    background-color: #ce0019;
}

.bg-pmu-quarteplus {
    background-color: #005096;
}

.bg-pmu-sixte {
    background-color: #75478a;
}

.bg-pmu-quadruplet {
    background-color: #0087c1;
}

.bg-pmu-triplet {
    background-color: #6fa41d;
}

.bg-pmu-jumele {
    background-color: #e9c700;
}

.bg-pmu-simple {
    background-color: #00a0aa;
}

.text-black {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255,255,255);
}


@media screen and (max-width: 576px) {
    .carousel-caption {
        left: 0;
    }
}